; vim: set fileencoding=utf-8 :
; Fri 16 Sep 17:29:22 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.replaymobile
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true