#portal-bandeau,
#solgema-portal-footer {
    clear:both;
    position:relative;
}

#inner-portal-bandeau,
#inner-solgema-portal-footer {
    overflow:hidden;
    position:relative;
    width:100%;
}

.carousel-banner {
    position:absolute;
    width:inherit;
    top:0;
    left:0;
}

#portal-printlogo {
    display:none;
}

#solgemabandeau {
    clear:both;
    position:relative;
}

#solgemaprintfooter {
    display:none;
    clear:both;
    bottom:0;
    right:0;
    float:left;
    width:100%;
}

#solgemabackground {
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    width:100%;
    display:none;
    z-index:-1000;
}
.backgroundRepeat {
    background-repeat:repeat;
}
.backgroundFixed {
    background-attachment:fixed !important;
}
.backgroundExtend {
    background-size:cover !important;
}
.bandeau_image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}
#solgemabackground .bandeau_image {
    box-shadow: none;
}
